<div>
    <h5>COMPARTE ESTE PRODUCTO</h5>
    <img ng-src="https://www.facebookbrand.com/img/fb-art.jpg"
         style="border-radius: 800px;  float:left; margin-right:15px;" width="50px" height="50px">
    <img ng-src="http://icons.iconarchive.com/icons/sicons/basic-round-social/512/twitter-icon.png"
         style="border-radius: 800px;  float:left; margin-right:15px;" width="50px" height="50px">
    <img ng-src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcScM3B5Ldz2cMW9jmUqy6MYI7a9Yn7rGYdZ6wEj5yHHri2lI6Ga"
         style="border-radius: 800px;  float:left;" width="50px" height="50px">
</div>