
<div class="col-sm-6 col-md-3" style="width: 300px">
    <a class="celda-producto-link" ng-href="#/producto/{{ ::model.id}}/">
        <div class="thumbnail" style="box-shadow:1px 1px gray; border-radius: 10px">
            <div class="fill">
                <img ng-show="model.images[0]" ng-src="{{ ::model.images[0] }}" alt="" >
                <img ng-hide="model.images[0]" ng-src="{{ ::photoPlaceholderURL }}" alt="">
            </div>

            <div class="caption">
            <div class="row">
                <elemento-usuario model="model.seller" class="col-sm-8"></elemento-usuario>
                <p id="celda-producto-precio" class="col-sm-4">{{ ::model.price }} €</p>
            </div>
                <h5 id="celda-producto-title">{{ ::model.name }}</h5>
                <div id="celda-producto-description">{{ ::model.description }}</div>
                <p id="celda-producto-category"> <span class="label label-default ">{{ ::model.category.name }} </span> </p>
            </div>
        </div>
    </a>
</div>
