<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <!-- Ponemos el ng-show para ocultar toda la barra de búsqueda cuando no estamos logueados -->
            <div ng-show="iconsLogin" class="nav navbar-nav navbar-center">
                <form class="navbar-form" role="search" name="form">
                    <a class="glyphicon glyphicon-home" href="#/productos">
                    </a>
                    <div class="form-group">
                        <select class="form-control" name="selectCategoria" ng-model="categoria">
                            <option>Todas</option>
                            <option>Pepitooooooooo</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>

                        <input type="text" class="form-control" placeholder="Buscar productos" name="inputFindProducts" id="inputFindProducts" ng-model="inputSearch">

                        <select class="form-control" name="selectDistancia" ng-model="distancia">
                            <option>Todas</option>
                            <option>Pepitooooooooo</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                    <a class="glyphicon glyphicon-search" ng-click="findProducts()">
                    </a>

                </form>

            </div>

            <!--<div ng-hide="iconsLogin">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#/login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#/registro"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                </ul>
            </div>-->
            <div ng-show="iconsProfile">
                <ul class="nav navbar-nav navbar-right">
                    <li><img ng-src="" class="img-navbar-profile" width="40px" height="40px"></li>
                    <li class="li-navbar-profile-text"><span class="text-navbar-name">{{ userName }}</span> <span class="text-navbar-products"> {{ sales }} Productos</span></li>
                </ul>
            </div>
        </div>
    </div>
</nav>