<nav class="navbar navbar-default navbar-fixed-top navbar-4sale">
    <div class="container-fluid">
        <div class="navbar-header text-left col-md-3">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/">
                <img src="https://dl.dropboxusercontent.com/u/4539692/4SaleLogo.png">
            </a>
            <a id="navbar-4sale-logo" href="#/">
                <img src="https://dl.dropboxusercontent.com/u/4539692/4sale-navbar.png">
            </a>
        </div>
        <div class="navbar-collapse collapse" uib-collapse="isCollapsed" aria-expanded="true">
            <form class="navbar-form" role="search" name="form">
                <div class="navbar-form col-md-7 form-group" ng-show="showNavbarElements">
                    <select class="form-control" name="selectCategoria" ng-model="categoria">
                        <option value=""> </option>
                        <!--
                        <option ng-repeat="categoria in categorias" value="{{ categoria.name }}">
                        {{ categoria.name }}</option>-->
                        <option value="3" selected>Motor</option>
                        <option value="2">Tecnología</option>
                        <option value="1">Deportes</option>
                        <option value="0">General</option>
                    </select>
                    <input type="text" class="form-control" placeholder="Buscar productos" name="inputFindProducts"
                           id="inputFindProducts" ng-model="inputSearch">
                    <select class="form-control" name="selectDistancia" ng-model="distancia">
                        <option> </option>
                        <option>100 km</option>
                        <option>50 km</option>
                        <option>10 km</option>
                        <option>5 km</option>
                        <option>1 km</option>
                    </select>
                    <a class="glyphicon glyphicon-search" ng-click="findProducts()">
                    </a>
                </div>
            </form>
            <div ng-show="showNavbarElements">
                <ul class="nav navbar-nav navbar-right">
                    <li><img ng-src="{{ user.avatar }}" class="img-navbar-profile" width="40px" height="40px"></li>
                    <li>
                        <div class="btn-group" uib-dropdown is-open="status.isopen">
                            <button id="multiline-button" type="button" class=" btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                {{ user.user.username }}<p></p> {{ user.sales }} Productos <span class="caret"></span>
                            </button>
                            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="multiline-button">
                                <li role="menuitem"><a href="#/perfil">Mi perfil</a></li>
                                <li role="menuitem"><a class="glyphicon glyphicon-log-out" ng-click="logout()"> Salir</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>