<form class="form-horizontal">
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="title" placeholder="Product title">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-5">
            <textarea class="form-control" id="description" placeholder="Product description" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" id="price" placeholder="Product price">
        </div>
    </div>
    <div class="form-group">
        <label for="categories" class="col-sm-2 control-label">Categories</label>
        <div class="col-sm-5 dropdown">
            <select class="form-control" id="categories">
                <option>category_0</option>
                <option>category_1</option>
                <option>category_2</option>
                <option>category_3</option>
                <option>category_4</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="image1" class="col-sm-2 control-label">Image 1</label>
        <div class="col-sm-5">
            <input type="file" id="image1">
        </div>
    </div>
    <div class="form-group">
        <label for="image2" class="col-sm-2 control-label">Image 2</label>
        <div class="col-sm-5">
            <input type="file" id="image2">
        </div>
    </div>
    <div class="form-group">
        <label for="image3" class="col-sm-2 control-label">Image 3</label>
        <div class="col-sm-5">
            <input type="file" id="image3">
        </div>
    </div>
    <div class="form-group">
        <label for="image4" class="col-sm-2 control-label">Image 4</label>
        <div class="col-sm-5">
            <input type="file" id="image4">
        </div>
    </div>
    <div class="form-group">
        <label for="image5" class="col-sm-2 control-label">Image 5</label>
        <div class="col-sm-5">
            <input type="file" id="image5">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Put on sale!</button>
        </div>
    </div>
</form>