/* Navbar*/
.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:100%;
}

.navbar a {
    cursor: pointer;
}

/***********************
  ROUND BUTTONS
************************/
.round {
    border-radius: 24px;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 10px 50px;
    border: 0 none;
    letter-spacing: 1px;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #fc7232;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: rgba(255, 125, 55, 0.87);
}
.btn-primary:active, .btn-primary.active {
    background: #cd6734;
    box-shadow: none;
}

/*********************************/

.ffs-text-color {
    color: #fc7232;
}

.ffs-button {
    color: white;
    background-color: #fc7232;
}

.navbar-4sale {
    background-color: #fc7232;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.img-logo {
    height: 100%;
}

.body, html {
    width: 100%;
    height: 100%;
    padding-top: 70px;
    background-color: #fcdaca;
}

.jumbotron {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fcdaca;
}

.text-description
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text-title
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 30px;     /* fallback */
    max-height: 32px;      /* fallback */
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
}

#inputFindProducts
{
    width: 300px;
}

.btn-circle-lg {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 13px 0;
    font-size: 20px;
    line-height: 3.50;
    border-radius: 70px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}



.img-navbar-profile {
    background-color: #255625;
    border-radius: 800px;
    padding: 15px;
    margin-top: 5px;
}

.li-navbar-profile-text {
    margin-top: 5px;
}

.text-navbar-name {
    margin-left: 10px;
    color: white;
}

.text-navbar-products {
    display: block;
    margin-left: 8px;
    color: white;
}

/* Login */

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vertical-offset-100 {
    padding-top: 100px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    /*border: 1px solid transparent;*/
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}